<h1>Productos en Tiempo Real</h1>
<div>
	<input type="text" id="title" placeholder="Título" />
	<input type="number" id="price" placeholder="Precio" />
	<button id="btnEnviar">Agregar</button>
</div>
<div id="contenedorProductos"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/realTimeProducts.js"></script>